
<h1> About Us</h1>
<% provide(:title, "About Us") %>
<p>
	la pagina  <a href="http://railstutorial.org/"> Ruby on Rails Tutorial</a>
	es un proyecto para hacer un libro y screencasts para enseñar desarrolo web
	con <a href="http://rubyonrails.org/">Ruby on Rails</a>
	es la pagina de ejemplo....

</p>
