	

<h1> Help</h1>
<% provide(:title, "Help") %>
<p>
	Obten ayuda en la pagina 
	<a href="http://railstutorial.org/help"> Rails pagina de ayuda</a>
	<a href="http://railstutorial.org/book"> Libro de Rails tutorial</a>
</p>

