<%= form_for(@micropost) do |w| %>
 <%= render 'shared/error_messages', object: w.object %>
 <div class="col">
 <%= w.text_area :content, placeholder: "Compose new mucropost ..... ;)" %>
 	
 </div>
 <%= w.submit "Post", class: "btn btn-large btn-primary" %>
 <% end %>
